body {
    background-color: black;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
}

/* Tímto zajistíme, že padding a border nebudou nafukovat šířku boxů */
* {
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: small;
}

footer {
    padding: 5em;
    background-color: rgb(31, 31, 31);
    font-size: medium;
    text-align: center;
    margin-top: 0.1em;
}

h2 {
    text-align: center;
    font-size: 1.75em;
}

h4,
h6 {
    text-align: center;
}

a {
    color: yellow;
}

header {
    background-image: url("../img/michael_jackson_background.png");
    padding: 5em;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mtvlogo {
    width: 110%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1em;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8em;
}

.menu a {
    text-decoration: none;
    border: 2px solid transparent;
    background-color: black;
    color: #eee;
    border-radius: 1em;
    width: 85%;
    max-width: 250px;
    padding: 0.8em;
    text-align: center;
    transition: transform 0.3s ease;
    margin: auto;
    font-size: smaller;
}

.menu a:hover {
    transform: scale(1.2);
}

/* Mobilní kontejnery pro sekce (přes celou šířku) */
.a_m,
.b_m,
.c_m,
.d_m {
    border: 5px solid transparent;
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    margin: auto;
    width: 100%;
}

.a_m {
    background-image: url("../img/pozadi9.png");
    background-size: 100px;
}

.b_m {
    background-image: url("../img/pozadi95.png");
    background-size: cover;
    background-position: center;
    
}

.c_m {
    background-image: url("../img/grunge.png");
    background-size: 1420px 1500px;
    background-position: center;
}

.d_m {
    background-image: url("../img/pozadi96.png");
}


.a,
.b,
.c,
.d {
    display: block;
    width: 95%;
    margin: 1em auto;
    border: 3px solid antiquewhite;
    padding: 1.5em;
    border-radius: 2em;
}

.a {
    background-image: url("../img/pozadi_t_2.png");
    background-size: 100%;
    background-size: cover;
}

.b {
    background-image: url("../img/pozadi95.png");
    background-color: rgb(26, 2, 26);
    background-size: 100%;
    background-size: cover;

}

.c {
    background-image: url("../img/pozadi98.png");
    background-position: center;
    background-size: cover;
    border-width: 5px;
}

.d {
    background-image: url("../img/pozadi99.png");
    border-width: 5px;
    background-size: cover;
}




/*Vlká Obrazovka*/


@media screen and (min-width: 768px) {

    * {
        font-size: large;
    }

    .mtvlogo {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

    .menu a {
        width: 10em;
        padding: 1em;
        position: relative;
        top: 3em;
    }

   
    .a_m,
    .b_m,
    .c_m,
    .d_m {
        border: 5px solid antiquewhite;
        margin: 5em auto;
        width: 60%;
        
    }

    .b_m{
        background-position: left;
    }

    
    .a {
        width: 75%;
        margin: 3em auto;
        border-width: 5px;
        background-size: cover;
        
    }

    .b {
        width: 75%;
        margin: 3em auto;
        background-size: cover;
    }

    .c {
        width: 75%;
        margin: 3em auto;
        background-size: cover;
    }

    .d {
        width: 75%;
        margin: 3em auto;
        background-size: cover;
    }
}